<div data-hook="admin_plugin_form_fields">
  <div class="row">
    <div class="alpha four columns">
      <div data-hook="name_id" class="field">
        <%= label_tag nil, Spree.t(:plugin_name) %>
        <%= text_field :plugin, :name, :class => 'fullwidth' %>
        <%= label_tag nil, Spree.t(:css_class) %>
        <%= text_field :plugin, :css, :class => 'fullwidth' %>
        <%= hidden_field :plugin, :type, :value => 'plugin' %>
      </div>
      <div data-hook="active" class="field">
        <%= label_tag nil, Spree.t(:active) %>
        <ul>
          <li>
            <%= radio_button(:plugin, :state, "ACTIVE", :checked => @plugin.state == 'ACTIVE' ) %>
            <%= Spree.t(:say_yes) %>
          </li>
          <li>
            <%= radio_button(:plugin, :state, "INACTIVE", :checked => @plugin.state != 'ACTIVE') %>
            <%= Spree.t(:say_no) %>
          </li>
        </ul>
      </div>
    </div>
    <div class="omega eight columns">
      <div data-hook="code" class="field">
        <%= label_tag nil, Spree.t(:code) %>
        <%= text_area(:plugin, :code, cols: 5, rows: 5, :class=>'fullwidth') %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="clear"></div>
  </div>
</div>
